@import "../../scss/SassVariables.scss";

.navbar {
  background-color: $white-color;
  display: flex;
  // flex-direction: column;
  // flex-direction: column;
  // height: 100%;
  background: #D41A2B;
  width: 100%;
  box-shadow: 5px 5px 5px gainsboro;
  border-radius: 0.5rem;
  padding: 1rem 1rem 0rem 1rem;
  margin-left: 1rem;
}

.navbar-title {
  margin: 5px;
  // font-weight: bold;
  font-size: 3rem;
  color: white;
}

.navbar-links {
  display: flex;
  justify-content: space-evenly;
  // flex-direction: column;
  flex-grow: 1;
  
}
.navbar-links-items {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.navbar-links-items:hover{
  color: #f1f1f1;
  text-decoration: underline white;
}

a {
  text-decoration: none;
  color: white;
  // font-weight: bold;
}

.navbar-profile {
  color: aliceblue;
  display: flex;
  height: 4rem;
  justify-content: space-around;
  // border: 1px solid white;
  border-radius: 10px;
  font-size: 1.4rem;
  align-items: center;
  margin-bottom: 1rem;
}

.navbar-profile-photo {
  width: 2.5rem;
  height: 2.5rem;
  background: url("../../assets/icon.png");
  border-radius: 0.8rem;
}

.dropbtn {
  background-color: #D41A2B;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

