@import "../../scss/SassVariables.scss";

.createJobCard {
  position: relative;
  width: calc(100% - 2rem);
  height: calc(100vh - 2rem);
  padding: 3rem;
  margin: 0rem 1rem;
  box-shadow: 5px 5px 5px 5px gainsboro;
  overflow:scroll;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.formInputs,
.MuiFormControl-root-MuiTextField-root,
.MuiFormControl-root-MuiSelect-root,
.MuiInputBase-input-MuiOutlinedInput-input {
  margin-top: 1rem;
  width: 60%;
  font-size: 2rem;
}

.selectSection{
  margin:1rem auto;
  width: 60%;
}

.selectInput{
  width:100%;
  margin-top: 1rem;
}

.formBtn,
.MuiButton-root {
  margin: 1rem;
  background-color: $blue-color;
  color: $white-color;
  font-weight: bold;
}

.MuiButton-root:hover {
  border: 1px solid #D41A2B;
  color: $blue-color;
  background-color: $white-color;
}
