.jobContainerWrapper{
    height: 95%;
    // overflow-y: scroll;
    margin-top: 125px;//new to change direction
}
.jobsContainer{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
}

.filterWrapper{
    margin-bottom: 15px;
}

.filterTypeWrapper{
    //height: 115px;
    height: 170px;
    width: 435px;
    // overflow-y:scroll;//new
}

.filterCategoryWrapper{
   // height:330px;
    height:230px;
    width: 370px;
    // overflow-y:scroll;
}

.filterLocationWrapper{
    height:330px;
    width: 370px;
    // overflow-y:scroll;
}

.infoMessage{
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin-top: -68px;
    color: red;
    margin-right: -1553px;
}