@import  '../../scss/SassVariables.scss';

.searchBar{
    border-radius: 0.5rem;
    width:129%;
    border: 1px black;
    background-color: whitesmoke;
    padding:0.8rem;
    //margin: 0px 0px 10px 15px;
   // margin: 10px 0px 30px 15px;
     margin:29px 0px 30px 21px;
    height: 4.5rem;
    color: black;
    font-size: 14px;
   
    
    
}