@import "./utilities";
@import "./general";
@import "./SassVariables.scss";

//These are the classes for the Layout 1_3_1
.ly-1-3-1 {
  width: 15%;

  &-bd-sec-left {
    width: 100%;
    // height: calc(100vh - 2rem);
  }

  &-bd-sec-right {
    // width: 85%;
    width:100%;
    height: calc(100vh - 2rem);
  }

  &-bd-sec-right-container {
    width: 100%;
    height: 100%;
  }

  &-bd-sec-right-main {
    // width: 70%;
    width: 100%;
    align-items: center;

  }
  &-aa-sec-right-sidebar {

    position: relative; //new to change direction to horizontal view
display: flex; 
flex-direction: row; 
top: 92px; 
left: -797px;
}

&-bd-sec-right-sidebar {
    // width: 30%;
    // // margin: 0rem 2rem;
    // margin: 9rem 2rem;

    // position: absolute;
    // width: 25%;
    // margin: 0rem 2rem;
    // top: 9rem;
    // right: 0;

    position: relative; //new to change direction to horizontal view
// width: 25%;
// margin: 0rem 2rem;
display: flex; 
flex-direction: row; 
// top: 92px; 
// left: -797px;
top: 11%; 
left: -282px;

  }
}

//These are the classes for the Layout 1_4
.ly-1-4 {
  width: 100%;

  &-bd-sec-left {
    // width: 15%;
    // height: calc(100vh - 2rem);
  }

  &-bd-sec-right {
    // width: 85%;
    // height: 90vh;
  }

  &-bd-sec-right-container {
    width: 100%;
    height: 100%;
  }

  &-bd-sec-right-main {
    // width: 90%;
    width: 100%;
  }
}
