$base-color: #e9eaf6;
$secondary-color: #b9c3d5;
$tertiary-color: #b0bacd;
$kinda-brown-color: #cbb49b;
$space-grey-color: #474745;
$blue-color: #D41A2B;
$off-blue-color: #748eb3;
$white-color: #ffffff;
$grey: #808080;
$font-georgia: Georgia, "Times New Roman", Times, serif;
$black: #000000;
