.applicationCard {
    margin: 0rem 0.5rem 0.5rem 1rem;
    width:45%;
    margin-top: 10px;
}

.orgImg {
    width: 75px;
    height: 75px;
    display: inline-block;
    margin-right: 10px;
}

.orgSection {
    display: flex;
    align-items: center;
    margin: 5px 5px;
}

.applicationCardWrapper{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.applicationCardContent{
    display: flex;
    flex-direction: column;
}

.btn_grp{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn_grp button{
    margin-bottom: 10px;
    height: 50px;
    cursor: pointer;
}

.jobTitle{
    font-weight: bold;
}

.jobDetail{
    font-size: 1.3rem;
}

.open{
    color: green;
    font-weight: bold;
    font-size: 1.4rem;
}

.closed{
    color: red;
    font-weight: bold;
    font-size: 1.4rem;
}